body{
    background-color: rgb(187, 184, 184);
    font-family: 'Bellefair', serif;
}

h1 {
    text-align: center;
    color: black;
    font-size: 45px;
}

h4 {
   margin-left: 40px;
   margin-top: 15px;
   font-size: xx-large;
   color: rgb(0, 0, 41);
}

h5 {
    text-align: center;
}

main {
   background-color: rgb(230, 225, 225);
   box-shadow: 5px 10px 8px #888888;
   border-radius: 8px;
   margin: 40px 60px 40px 60px;
   padding-top: 50px;
   padding-bottom: 15px;
   box-shadow: 5px 10px 18px rgb(77, 77, 77);
}

 p {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    
 }

#img {
    text-align: center;
    background-color: rgb(187, 184, 184);
    width: auto;
    height: auto;
}

#img-div {
    background-color: rgb(187, 184, 184);
    text-align: center;
}

#image {
    width: auto;
    height: auto;
}

#img-caption {
    font-size: 15px;
}

#tribute-info {
    text-align: left;
    font-size: 18px;
}

#tribute-link {
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: rgb(0, 0, 41);
}

a:hover {
    color: rgb(68, 68, 68);
}

#quote {
    text-align: center;
    margin-top: 15px;
}

footer {
    text-align: right;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
}

strong {
    color: rgb(0, 0, 41)
}